body {
  font-family: Arial, sans-serif;
}

#apply,
#detectedCanvas {
  background-color: #3c5b6f;
}

#apply {
  color: white;
}
#home img {
  width: 40vh;
}
#home p {
  font-size: 20px;
}

.input-group {
  margin-bottom: 20px;
}
canvas {
  width: 100%;
  height: auto;
}

nav.navbar,
footer.footer {
  background-color: #f97300;
}
